body {
	background-color: lightgrey;
}

h1 {
	
}

.add:hover {
	background-color: #009999;
  	color: white;
}

.add {
	position: absolute;
	right: 100px;
	top: 50px;
	width: 50px;
	heigth: 50px;
}

dialog {
	border: none;
}